@page "/"

<h1>Hello, world!</h1>

Welcome to my cool new Blazor WASM app!
<p>Today is: @DateTime.Now</p>

@functions {
    private string Name { get; set; } = "Rickster";
}

<p> What is your name: <input name="fname" id="fname" type="text" @bind="@Name" /></p>
<p>Your name is: @Name</p>

    <SurveyPrompt Title="How is Blazor working for you?" />
